---
# Front matter comment required
---

@charset "utf-8";

$sans-serif: "Open Sans", sans-serif;
$serif: "Cardo", serif;
$monospace: "Roboto Mono", monospace;

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

h2.archive__item-title {
  margin-top: 0.8rem !important;
}
.page__content {
  overflow-x: auto;

  table {
    min-width: 100%;
    display: table;
  }
}

@media (min-width: 80em) {
  .page {
    width: calc(100% - 300px);
    padding-right: 0px;
  }
}

.page__content {
  p, ul {
    font-size: 0.85rem;
  }

  h2 {
    margin-top: 3rem;
    border: none !important;
  }
}

.grid__item {
  margin-bottom: 1rem !important;
}

.list__item {
  p.archive__item-excerpt {
    margin-bottom: 4rem !important;
  }
}

.page__content p:first-of-type {
  margin-top: 1.5rem;
}

footer {
  text-align: center;
}

.archive__item-teaser {
  margin-top: 2rem;
}

.quote {
  font-family: $serif;
  font-size: 1.2rem !important;
  padding: 1rem;
  margin: 2rem 0;
  border-left: 4px solid #264f6e;
  background-color: #394150;
  border-radius: 0 0.5rem 0.5rem 0;
}

.poem {
  font-family: $serif;
  font-size: 1.2rem;
  white-space: pre-wrap;
  background-color: #394150;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.image-centered {
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
}

.caption {
  font-size: 0.65rem !important;
  font-style: italic;
  color: #999;
  text-align: center;
  margin: 0.5rem auto 1rem !important;
  width: 100%;
  display: block;

  img {
    margin-bottom: 0.5rem;
  }
 }

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.archive__item-teaser {
  img {
    filter: grayscale(40%);
  }
}

header .page__meta {
  margin-bottom: 1rem !important;
}
